---
import "@/styles.css";
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Adam Godra is a Digital Product Engineer."
    />
    <meta property="og:title" content="Your Page Title Here" />
    <meta
      property="og:description"
      content="Your page description for social platforms."
    />
    <meta property="og:image" content="/hilbert_curve.svg" />
    <meta property="og:url" content="https://godraadam.com" />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content="Adam Godra" />
    <meta
      name="twitter:description"
      content="Adam Godra is a Digital Product Engineer."
    />
    <meta name="twitter:image" content="/hilbert_curve.svg" />
    <meta name="twitter:site" content="@AdamGodra" />
    <title>Adam Godra</title>
    <script>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.getItem("theme") === "dark"
      );
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
